<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 2.1//EN"
       "http://tiles.apache.org/dtds/tiles-config_2_1.dtd">
       
<tiles-definitions>
    <definition name="base.definition" template="/jsp/layout.jsp">
        <put-attribute name="title" value="RES-POS" />
        <put-attribute name="header" value="/jsp/header.jsp" />
        <put-attribute name="menubar" value="/jsp/menubar.jsp" />
        <put-attribute name="body" value="" />
        <put-attribute name="footer" value="/jsp/footer.jsp" />
        <put-attribute name="copyright" value="/jsp/copyright.jsp"/>
    </definition>
    
 	<definition name="login" extends="base.definition">
    	<put-attribute name="body" value="/jsp/body/login.jsp"/>
    </definition>
    
    <definition name="loginfail" extends="base.definition">
    	<put-attribute name="body" value="/jsp/body/loginfail.jsp"/>
    </definition>
    
    <definition name="welcome" extends="base.definition">
    	<put-attribute name="body" value="/jsp/body/welcome.jsp"/>
    </definition>
    
    <definition name="logout" extends="base.definition">
    	<put-attribute name="body" value="/jsp/body/logout.jsp"/>
    </definition>
 
    <definition name="address" extends="base.definition">
        <put-attribute name="body" value="/jsp/body/address.jsp" />
    </definition>
    
    <definition name="customer" extends="base.definition">
    	<put-attribute name="body" value="/jsp/body/customer.jsp"/>
    </definition>
    
    <definition name="menu" extends="base.definition">
 		<put-attribute name="body" value="/jsp/body/menu.jsp"/>
 	</definition>
 	
 	<definition name="wholeMenu" extends="base.definition">
 		<put-attribute name="body" value="/jsp/body/wholeMenu.jsp"/>
 	</definition>
 	
 	<!-- Ajax calls -->
 	<definition name="subMenu" template="/jsp/body/subMenu.jsp">
 		<put-attribute name="ajax" value="/jsp/body/subMenu.jsp"/>
 	</definition>
 	
 	<definition name="showOrder" template="/jsp/body/showOrder.jsp">
 		<put-attribute name="ajax" value="/jsp/body/showOrder.jsp"/>
 	</definition>
 
</tiles-definitions>