<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 2.1//EN"
       "http://tiles.apache.org/dtds/tiles-config_2_1.dtd">
<tiles-definitions>
    <definition name="base.definition" template="/jsp/layout.jsp">
        <put-attribute name="title" value="" />
        <put-attribute name="header" value="/jsp/header.jsp" />
        <put-attribute name="menu" value="/jsp/menubar.jsp" />
        <put-attribute name="body" value="" />
        <put-attribute name="footer" value="/jsp/footer.jsp" />
    </definition>
    
 	<definition name="login" extends="base.definition">
    	<put-attribute name="title" value="Welcome to Restaurant POS"/>
    	<put-attribute name="body" value="/jsp/body/login.jsp"/>
    </definition>
 
    <definition name="address" extends="base.definition">
        <put-attribute name="title" value="Adding Address" />
        <put-attribute name="body" value="/jsp/body/address.jsp" />
    </definition>
    
    <definition name="customer" extends="base.definition">
    	<put-attribute name="title" value="Adding Customer"/>
    	<put-attribute name="body" value="/jsp/body/customer.jsp"/>
    </definition>
    
    <definition name="menu" extends="base.definition">
 		<put-attribute name="title" value="Menu"/>
 		<put-attribute name="body" value="/jsp/body/menu.jsp"/>
 	</definition>
 	
<!--  	<definition name="menu" extends="base.definition"> -->
<!--  		<put-attribute name="title" value="Menu"/> -->
<!--  		<put-attribute name="body"> -->
<!--  			<definition template="/jsp/body/menu.jsp"> -->
<!--  				<put-attribute name="body.subcategory" value="/jsp/body/subcategory.jsp"/> -->
<!--  			</definition> -->
<!--  		</put-attribute> -->
<!--  	</definition> -->
 	
 	<definition name="subMenu" template="/jsp/body/menu.jsp">
 		<put-attribute name="body.subcategory" value="/jsp/body/subcategory.jsp"/>
 	</definition>
 
</tiles-definitions>