<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/security"
	   xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/welcome*" access="ROLE_USER"/>
		<intercept-url pattern="/address*" access="ROLE_USER"/>
		<intercept-url pattern="/customer*" access="ROLE_USER"/>
		<intercept-url pattern="/menu*" access="ROLE_USER"/>
		
		<!-- Override default login and logout pages -->
		<form-login login-page="/login.html" 
							 default-target-url="/welcome.html"
							 authentication-failure-url="/loginfail.html"
							 />
		<logout logout-url="/logout" logout-success-url="/logout.html"/>
	</http>
	
<!-- 	<authentication-manager> -->
<!-- 		<authentication-provider> -->
<!-- 			<jdbc-user-service data-source-ref="dataSource" -->
<!-- 				users-by-username-query= -->
<!-- 					"SELECT username, agentpassword FROM agent WHERE username = ?" -->
<!-- 				authorities-by-username-query= -->
<!-- 					"SELECT a.username, ar.authority FROM agent a, agentrole ar -->
<!--  						WHERE a.agentid = ar.agentid AND a.username = ?" -->
<!-- 			/> -->
<!-- 		</authentication-provider> -->
<!-- 	</authentication-manager> -->
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="bthai" password="123" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
</bean:beans>