body{
	padding: 40px;
}

/* primary buttons */
.btn1{
	height:65px;
	width:125px;
	white-space:normal;
}

/* secondary buttons */
.btn2{
	height:40px;
	width:80px;
	white-space:normal;	
}

/* red font for spicy */
.red{
	color: red;
}

.center{
	text-align: center;
}

.display-none{
	display: none;
}

.table-striped tbody tr.highlight td {
    background-color: yellow;
}

.visibility-hidden{
	visibility: hidden;
}