body{
	padding: 40px;
}

/* primary buttons */
.btn1{
	height:65px;
	width:130px;
	white-space:normal;
}

/* secondary buttons */
.btn2{
	height:40px;
	width:80px;
	white-space:normal;	
}

/* red font for spicy */
.red{
	color: red;
}

.center{
	text-align: center;
}

.scroll{
	height: 500px;
	overflow-y: auto;
}


