#############################################################
# Package Files 
#############################################################
#*.jar
*.war
*.ear
.metadata/
RemoteSystemsTempFiles/
Servers/


#############################################################
# Tells Git to ignore all files that end with a tilde (~) *
#############################################################
*~
*.mwb.bak


#############################################################
# ignore certain properties files that has been commited
# into the repo
# initially, these files where staged and commited into the repo
# then ran the command below for git to ignore and stop tracking.
# git update-index --assume-unchanged path/to/file
#
# When you want to start keeping track again
# git update-index --no-assume-unchanged path/to/file
############################################################
# git/res-pos/res-pos/build.properties
# git/res-pos/res-pos/src/main/resources/log4j.properties
# git/res-pos/res-pos/build/classes/log4j.properties
# git/res-pos/res-pos/src/main/resources/database.properties
# git/res-pos/res-pos/build/classes/database.properties

# res-pos-core
############################################################
res-pos/bin/
res-pos/build/
############################################################
# res-pos-db
res-pos-db/bin/
res-pos-db/build/
############################################################
