# Package Files #
#*.jar
*.war
*.ear

# .metadata and RemoteSystemsTempFiles #
.metadata/
RemoteSystemsTempFiles/

# Servers #
Servers/

# Tells Git to ignore all files that end with a tilde (~) *
*~

# sql
*.mwb.bak

#ignore database connection properties
#to ignore only database.properties, need to give the full path, otherwise use * in front
# res-pos/WebContent/WEB-INF/database.properties
*database.properties
