#############################################################
# Package Files 
#############################################################
#*.jar
*.war
*.ear

#############################################################
# .metadata and RemoteSystemsTempFiles
#############################################################
.metadata/
RemoteSystemsTempFiles/

#############################################################
# Servers
#############################################################
Servers/

#############################################################
# Tells Git to ignore all files that end with a tilde (~) *
#############################################################
*~

#############################################################
# sql
#############################################################
*.mwb.bak

#############################################################
# ignore certain properties files
#############################################################
#res-pos/WebContent/WEB-INF/database.properties
#res-pos/build.properties

